<nav class="background_primary large_padding font_color_primary">
	<ul class="no_list row center-xs around-xs">
		<li class="font_family_logo col-xs"><strong>TheKrod</strong></li>
		<li class="col-xs">Acerca de</li>
		<li class="col-xs">Portafolio</li>
		<li class="col-xs">Contacto</li>
	</ul>

</nav>