<nav class="background_primary large-padding font_color_primary">
	<ul class="no_list row around-xs">
		<li class="font_family_logo col-xs">TheKrod</li>
		<li class="col-xs">Acerca de</li>
		<li class="col-xs">Portafolio</li>
		<li class="col-xs">Contacto</li>
	</ul>

</nav>