<section class="row middle-xs">
	<div class="col-xs-12">
		<div class="row center-xs">
			<div class="col-sm-12 col-xs-8">
				<div class="box">
					<picture>
  						<%= image_tag "img_principal.jpg", :alt => "principal", :class => "img_principal margin_top" %>
					</picture>
					<h2 class="no_margin"><span class="font_family_logo font_size_short">TheKrod</span></h2>
					
				</div>
			</div>
		</div>
		<div class="row center-xs">
			<div class="col-sm-12 col-xs-8">
				<div class="box">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero aut illum, perspiciatis quos dolorem, ex necessitatibus a! Architecto voluptates, quas perferendis delectus adipisci, similique accusamus, mollitia, natus incidunt voluptas laborum.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero aut illum, perspiciatis quos dolorem, ex necessitatibus a! Architecto voluptates, quas perferendis delectus adipisci, similique accusamus, mollitia, natus incidunt voluptas laborum.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
